html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #d7ebff;
}

.animal {
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  background-color: #EAE0d5ff;
  border: 2px solid white;
  font-size: 30px;
  font-family: 'Comic Neue', cursive;
  color: white;
  border-radius: 5px;
}


nav {
  display:flex;
  justify-content: space-around;
  background-color: #EAE0d5ff;
  border-radius: 10px;
  padding: 15px;
}

.navbar {
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  background-color: #EAE0d5ff;
  border: white solid 2px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.navbar:hover {
  transform: scale(1.1);
  z-index: 102;
  transition: 0.5s;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

footer {
  display:flex;
  justify-content:right;
  align-items:flex-end;
  background-color: #EAE0d5ff;
  border-radius: 10px;
  width:98.5%;
  margin:0px;
  font-family: 'Comic Neue', cursive;
  color:white;
  padding-right:20px;
}

.currentlyPlaying {
  font-size:20px;
}

iframe {
  margin-top:10px;
  margin-bottom: 10px;
  border: 10px solid #a8c4d7;
  width:75%;
  background-color: #a8c4d7;
}

h1 {
  font-size: 60px;
  font-style: italic;
  font-family: 'Comic Neue', cursive;
  color: #a8c4d7;
  text-align: center;
  margin-bottom:0px;
  margin-top:30px;
}

.header {
  border: 5px solid #a8c4d7;
  border-radius: 10px;
  width: 50%;
  margin:auto;
  margin-top: 20px;
  margin-bottom:20px;
}

h2 {
  font-size: 20px;
  font-family: 'Comic Neue', cursive;
  color: #a8c4d7;
  text-align: center;
  margin-top:10px;
  margin-bottom:30px;
}

.fish {
  margin-right: 20px;
}

.current {
  background-color: white;
  color: #EAE0d5ff;
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  border: white solid 2px;
  padding: 10px;
  border-radius: 5px;
}

.playlists {
  display:flex;
  justify-content:center;
}